{% extends 'base.html' %}
{% load static %}

{% block container %}	
	<div class="home">
		<div class="home-image">
			<img src="{% static 'img/logoproyecto.jpeg' %}" alt="">
		</div>
		<div class="home-info">
			<div class="home-info-title">
				MSICU
			</div>
			<div class="home-info-description">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos commodi dicta, praesentium, in similique perspiciatis sit mollitia eius! Corrupti eum nam vitae animi quo id nostrum eos necessitatibus explicabo quae. ipsum dolor sit amet, consectetur adipisicing elit. Iure ipsa assumenda numquam delectus a officia, voluptate incidunt ipsum sequi aut voluptatem dignissimos praesentium, eligendi quia, molestiae provident, maiores earum distinctio.
			</div>
		</div>
	</div>
{% endblock %}