*, *::after, *::before {
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	text-decoration: none;
	list-style: none;
}

.header{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 20px;
	border: 1px solid #000;
	border-radius: 20px;
}

.nav{
	display: flex;
	flex-direction: row;
	transition: 0.2s;
}

.nav:hover{
	transform: scale(0.9);
}

.list-button, .menu-button{
	border: 1px solid #000;
	border-radius: 20px;
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	padding: 10px;
	width: 70px;
	transition: 0.2s;
}

.list-button:hover, .menu-button:hover{
	transform: scale(1.1);
}

.list-button-text{
	display: none;
	text-align: center;
}

.menu-button-icon, .list-button-icon{
	width: 50px;
}

.header-title{
	font-size: 40px;
	font-weight: bold;
}

.container{
	margin: 20px 40px;
}

.title{
	font-size: 40px;
	font-weight: bold;
}

.field{
	border: 1px solid #000;
	padding: 5px;
	border-radius: 10px;
}

.form-section{
	margin: 10px 0;
}

.button-form{
	background: #7D5D5D;
	padding: 5px 15px;
	color: #fff;
	border-radius: 20px;
}

.image-list{
	display: flex;
	flex-direction: column;
	margin: 20px 0;
}

.image-list-item{
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	border: 1px solid #000;
	border-radius: 10px;
	padding: 15px;
	margin: 20px 0;
}

.image-icon-container, .image-list-icon{
	width: 100%;
}

.image-list-name{
	font-size: 25px;
	font-weight: bold;
	padding: 5px 10px;
}

.image-list-description{
	font-style: 18px;
	padding: 5px 10px;
}