{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Gaze Pattern</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
	<header class="header">
		<ul class="nav">
			<a href="" class="menu-button">
				<img src="{% static 'img/eye.png' %}" class="menu-button-icon" />
			</a>
			<a href="" class="list-button">
				<img src="{% static 'img/picture.png' %}" class="list-button-icon" />
				<div class="list-button-text">Imagenes</div>
			</a>
			<a href="" class="list-button">
				<img src="{% static 'img/experiment.png' %}" alt="" class="list-button-icon" />
				<div class="list-button-text">Experimento</div>
			</a>
			<a href="" class="list-button">
				<img src="{% static 'img/results.png' %}" alt="" class="list-button-icon" />
				<div class="list-button-text">Medir Resultados</div>
			</a>
		</ul>
		<div class="header-title">
			GAZE PATTERN
		</div>
	</header>
	{% block container %}
	{% endblock %}
</body>
</html>